*,
*::before,
*::after :not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #d9d9d9;
  margin-top: var(--mt, 2.5rem);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.loader {
  display: flex;
  overflow: hidden;
  width: 18rem;
  border-radius: 100vh;
  border: 1px solid hsl(240, 100%, 0%);
}
.loader::before {
  content: "♙";
  font-size: 2rem;
  animation: promotion 5000ms forwards infinite 220ms,
    colorChange 5000ms forwards infinite;
  /* transition: transform 100ms ease; */
}
@keyframes promotion {
  /* 1   */
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  5% {
    transform: translate(1rem, -0.6rem) rotate(-22.5deg);
  }
  10% {
    transform: translate(2rem, 0rem) rotate(0deg);
  }
  /* 2 */

  15% {
    transform: translate(2rem, 0) rotate(0deg);
  }
  20% {
    transform: translate(3rem, -0.6rem) rotate(-22.5deg);
  }
  25% {
    transform: translate(4rem, 0rem) rotate(0deg);
  }
  /* 3 */
  30% {
    transform: translate(4rem, 0) rotate(0deg);
  }
  35% {
    transform: translate(5rem, -0.6rem) rotate(-22.5deg);
  }
  40% {
    transform: translate(6rem, 0rem) rotate(0deg);
  }
  /*   4
} */
  45% {
    transform: translate(6rem, 0) rotate(0deg);
  }
  50% {
    transform: translate(7rem, -0.6rem) rotate(-22.5deg);
  }
  55% {
    transform: translate(8rem, 0rem) rotate(0deg);
  }

  /*  5 */
  60% {
    transform: translate(8rem, 0) rotate(0deg);
  }
  65% {
    transform: translate(9rem, -0.6rem) rotate(-22.5deg);
  }
  70% {
    transform: translate(10rem, 0rem) rotate(0deg);
  }

  /*  6 */
  75% {
    transform: translate(10rem, 0) rotate(0deg);
  }
  80% {
    transform: translate(11rem, -0.6rem) rotate(-22.5deg);
  }
  85% {
    transform: translate(12rem, 0rem) rotate(0deg);
  }

  90% {
    transform: translate(12rem, 0) rotate(0deg);
  }
  95% {
    transform: translate(13rem, -0.6rem) rotate(-22.5deg);
    content: "♙";
  }
  100% {
    transform: translate(14rem, 0rem) rotate(0deg);
    content: "♕";
    color: hsl(293, 72%, 50%) !important;
  }
}

@keyframes colorChange {
  0% {
    color: hsl(0, 84%, 55%);
  }
  25% {
    color: hsl(59, 84%, 55%);
  }
  50% {
    color: hsl(123, 84%, 55%);
  }
  75% {
    color: hsl(194, 84%, 55%);
  }
  100% {
    color: hsl(288, 84%, 55%);
  }
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-password {
  position: relative;
  /* display: flex; */
}

.password {
  width: 100%;
}
.eye {
  position: absolute;
  width: 1.05rem;
  height: auto;
  top: 50%;
  right: 0.5rem;
  transform: translate(0, -50%);
}
nav.navbar {
  display: flex;
  background-image: linear-gradient(
    100.76deg,
    #9372c5 0%,
    #e76bb5 50.76%,
    #ff7487 72.43%,
    #ff9f4b 98.83%,
    #ffd700 137.39%
  );
  padding: 0.75rem 0rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 2.5rem;
  margin: 0 0 0 1rem;
  cursor: pointer;
}
.list {
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  transition: top 250ms cubic-bezier(0.79, 0.6, 0.25, 1.36),
    right 250ms cubic-bezier(0.79, 0.6, 0.25, 1.36), rotate 250ms ease,
    opacity 250ms ease 250ms;
}

.active {
  opacity: 1;
  pointer-events: all;
  transition: top 250ms cubic-bezier(0.79, 0.6, 0.25, 1.36),
    right 250ms cubic-bezier(0.79, 0.6, 0.25, 1.36) 100ms, rotate 250ms ease,
    opacity 250ms ease;
}
.list__item {
  --cubic: cubic-bezier(0.79, 0.6, 0.25, 1.36);
  list-style-type: none;
  background-color: lime;
  position: absolute;
  top: 2rem;
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
  box-shadow: 0 0px 80px #4e0d2f;
  rotate: -90deg;
  cursor: pointer;
}

.list__item:first-child {
  --width: 20rem;
  width: var(--width);
  aspect-ratio: 1/1;
  top: calc(var(--width) * -1);
  right: calc(var(--width));
  background-color: #ff00c8;
  z-index: 1;
  transition: top 250ms var(--cubic), right 250ms var(--cubic),
    rotate 250ms ease 600ms, background-color 250ms ease, box-shadow 250ms ease,
    opacity 250ms ease;
}

.list__item:nth-child(2) {
  --width: 35rem;
  width: var(--width);
  aspect-ratio: 1/1;
  top: calc(var(--width) * 1.25);
  right: calc(var(--width) * 1.25);
  aspect-ratio: 1/1;
  box-shadow: 0 0 0 200vh #000000b4;
  background-color: #00f7ff;
  transition: top 250ms var(--cubic) 200ms, right 250ms var(--cubic) 200ms,
    rotate 250ms ease 500ms, background-color 250ms ease, box-shadow 250ms ease,
    opacity 250ms ease;
  /* display: none; */
}

.list__item:hover {
  background-color: #f2f2f2;
  box-shadow: none;
}

.active .list__item:first-child {
  top: calc(var(--width) * -0.5);
  right: calc(var(--width) * -0.5);
  rotate: 0deg;
}

.active .list__item:nth-child(2) {
  top: calc(var(--width) * -0.5);
  right: calc(var(--width) * -0.5);
  rotate: 0deg;
}

.burger-menu {
  margin: 0 1rem 0 auto;
  z-index: 99;
  display: grid;
  place-items: center;
}
.burger-menu > * {
  cursor: pointer;
}

.login__text {
  --calculated: calc(var(--width) * calc(-0.5 / 1.85));
  translate: var(--calculated) calc(var(--calculated) * -1);
}

.popUpHead {
  display: grid;
  grid-template-columns: 85% 15%;
  text-align: center;
}
.cancelImg {
  width: 2rem;
}
.dialog {
  border: 0;
  border-radius: 1rem;
  width:min(100% - 2rem,500px);
}
.inpLabel {
  font-size: 10px;
}
.floating-label {
  font-size: 0.9rem;
}
.user-input-wrp {
  position: relative;
  width: 90%;
}
.user-input-wrp .inputText {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #777;
  box-shadow: none !important;
}
.user-input-wrp .inputText:focus {
  border-color: blue;
  border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
  position: absolute;
  pointer-events: none;
  top: 18px;
  left: 10px;
  transition: 0.2s ease all;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus) ~ .floating-label {
  top: 0px;
  left: 10px;
  font-size: 13px;
  opacity: 1;
}
.driverDetail {
  margin-left: 1rem;
  margin-top: 0;
}
.driverPhoto {
  margin-left: 10px;
}
.addBtn {
  width: 1.7rem;
  align-content: center;
}
.user-input-wrap {
  position: relative;
  width: 80%;
}
.user-input-wrap .inputText {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #777;
  box-shadow: none !important;
}
.user-input-wrap .inputText:focus {
  border-color: blue;
  border-width: medium medium 2px;
}
.user-input-wrap .floating-label {
  position: absolute;
  pointer-events: none;
  top: 18px;
  left: 10px;
  transition: 0.2s ease all;
}
.user-input-wrap input:focus ~ .floating-label,
.user-input-wrap input:not(:focus):valid ~ .floating-label {
  top: 0px;
  left: 10px;
  font-size: 13px;
  opacity: 1;
}
.addArea {
  display: grid;
  align-items: center;
  justify-content: center;
}
.routesArea {
  display: grid;
  grid-template-columns: 60% 20%;
  justify-content: center;
  align-items: center;
}
.delete-route {
  width: 1rem;
  border: 2px solid black;
  border-radius: 50%;
}
.submitCancel {
  display: grid;
  justify-content: center;
}
.popUpSubmit {
  background-image: linear-gradient(
    100.76deg,
    #9372c5 0%,
    #e76bb5 50.76%,
    #ff7487 72.43%,
    #ff9f4b 98.83%,
    #ffd700 137.39%
  );
  border: none;
  border-radius: 20px;
  padding: 8px;
  padding-left: 4rem;
  padding-right: 4rem;
  color: white;
}
.img-update {
  border: none;
  border-radius: 1rem;
}
.delete-bus {
  border: none;
  border-radius: 1rem;
}
.deleteImgBtn {
  background-image: linear-gradient(
    100.76deg,
    #9372c5 0%,
    #e76bb5 50.76%,
    #ff7487 72.43%,
    #ff9f4b 98.83%,
    #ffd700 137.39%
  );
  border: none;
  border-radius: 20px;
  padding: 8px;
  color: white;
  margin-right: 5px;
}
.deleteImgArea {
  display: flex;
  justify-content: center;
}
.loginBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 80%;
  margin-top: 3rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 10px grey;
}

.landing__page {
  height: 60vh;
  position: relative;
}

.landing__page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.landing__page--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 71% 70%;
}

.search__container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(100% - 2rem, 600px);
  z-index: 10;
}
.search__img {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  height: 1.75rem;
}
.search {
  border: none;
  border-radius: 100vh;
  width: 100%;
  padding: 0.75rem 1rem;
  padding-left: 2.5rem;
  color: #ac2beb;
  box-shadow: 0px 2px 2px 4px #ab2beb25;
}

.search:focus-visible{
  outline: none;
  box-shadow: 0 0 0 2px #ac2beb;
}

.search::placeholder{
  color: #ac2beb;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255)) !important;
  color: fieldtext !important;
}

dialog::backdrop{
  background-color: rgba(0,0,0,0.75);
}

dialog{
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 3px;
  border-radius: 100vh;
}

dialog::-webkit-scrollbar{
  width: 0;
}
::-webkit-scrollbar-track{
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background: #888;
}


::-webkit-scrollbar-thumb:hover{
  background: #555;
}


